[Debug]
Debug Mode (On/Off)=Off

[Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=heal
Include#9=healChain
Include#10=assist
Include#11=class
Include#12=corpseSummon
Include#13=loot
Include#14=sell
Include#15=smoothMoves
Include#16=Wait4Rez

[Bard Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=assist
Include#8=class
Include#9=corpseSummon
Include#10=loot
Include#11=sell
Include#12=smoothMoves
Include#13=Wait4Rez

[Beastlord Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=heal
Include#9=assist
Include#10=class
Include#11=corpseSummon
Include#12=loot
Include#13=sell
Include#14=smoothMoves
Include#15=Wait4Rez

[Berserker Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=assist
Include#8=class
Include#9=corpseSummon
Include#10=loot
Include#11=sell
Include#12=smoothMoves
Include#13=Wait4Rez

[Cleric Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=heal
Include#8=healChain
Include#9=assist
Include#10=class
Include#11=corpseSummon
Include#12=loot
Include#13=sell
Include#14=smoothMoves
Include#15=Wait4Rez

[Druid Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=heal
Include#8=healChain
Include#9=assist
Include#10=class
Include#11=corpseSummon
Include#12=loot
Include#13=sell
Include#14=smoothMoves
Include#15=Wait4Rez

[Enchanter Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Magician Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Monk Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=assist
Include#8=class
Include#9=corpseSummon
Include#10=loot
Include#11=sell
Include#12=smoothMoves
Include#13=Wait4Rez

[Necromancer Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Paladin Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=heal
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Ranger Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=heal
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Rogue Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=assist
Include#8=class
Include#9=corpseSummon
Include#10=loot
Include#11=sell
Include#12=smoothMoves
Include#13=Wait4Rez

[Shadowknight Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[Shaman Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=heal
Include#9=assist
Include#10=class
Include#11=corpseSummon
Include#12=loot
Include#13=sell
Include#14=smoothMoves
Include#15=Wait4Rez

[Warrior Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=assist
Include#8=class
Include#9=corpseSummon
Include#10=loot
Include#11=sell
Include#12=smoothMoves
Include#13=Wait4Rez

[Wizard Included Setups]
Include#1=background
Include#2=basics
Include#3=casting
Include#4=begForBuffs
Include#5=buffCheck
Include#6=buy
Include#7=pet
Include#8=assist
Include#9=class
Include#10=corpseSummon
Include#11=loot
Include#12=sell
Include#13=smoothMoves
Include#14=Wait4Rez

[AA-ID Overrides]
Improved Familiar=352,167,52
[DRU Functions]
DRU Function#1=check_healChain
DRU Function#2=check_Heals
DRU Function#3=check_CombatBuffs
DRU Function#4=check_Burns
DRU Function#5=check_Debuffs
DRU Function#6=check_DoTs
DRU Function#7=check_Rain
DRU Function#8=check_Nukes
DRU Function#9=check_Buffs

[BRD Functions]
BRD Function#1=check_Burns
BRD Function#2=check_CombatBuffs
BRD Function#3=check_Buffs

[BST Functions]
BST Function#1=check_Debuffs
BST Function#2=check_DoTs
BST Function#3=check_Burns
BST Function#4=check_CombatBuffs
BST Function#5=check_Heals
BST Function#6=check_PetHeal
BST Function#7=check_Nukes
BST Function#8=check_Buffs
BST Function#9=check_Pets

[BER Functions]
BER Function#1=check_Burns
BER Function#2=check_CombatBuffs
BER Function#3=check_Buffs

[CLR Functions]
CLR Function#1=check_DivineArb
CLR Function#2=check_Yaulp
CLR Function#3=check_celestialRegen
CLR Function#4=check_healChain
CLR Function#5=check_Heals
CLR Function#6=check_CombatBuffs
CLR Function#7=check_Debuffs
CLR Function#8=check_Nukes
CLR Function#9=check_Buffs

[ENC Functions]
ENC Function#1=check_Rune
ENC Function#2=check_CombatBuffs
ENC Function#3=check_Burns
ENC Function#4=check_Debuffs
ENC Function#5=check_DoTs
ENC Function#6=check_Rain
ENC Function#7=check_Nukes
ENC Function#8=check_Buffs
ENC Function#9=check_Pets

[MAG Functions]
MAG Function#1=check_CombatBuffs
MAG Function#2=check_petHeal
MAG Function#3=check_Burns
MAG Function#4=check_Debuffs
MAG Function#5=check_Rain
MAG Function#6=check_Nukes
MAG Function#7=check_Buffs
MAG Function#8=check_Pets
MAG Function#9=check_PetWeapons

[MNK Functions]
MNK Function#1=check_Burns
MNK Function#2=check_CombatBuffs
MNK Function#3=check_Buffs

[NEC Functions]
NEC Function#1=check_Burns
NEC Function#2=check_castLich
NEC Function#3=check_manaDump
NEC Function#4=check_Debuffs
NEC Function#5=check_DoTs
NEC Function#6=check_CombatBuffs
NEC Function#7=check_lifeTap
NEC Function#8=check_Nukes
NEC Function#9=check_petHeal
NEC Function#10=check_Buffs
NEC Function#11=check_Pets

[PAL Functions]
PAL Function#1=check_Yaulp
PAL Function#2=check_Heals
PAL Function#3=check_Burns
PAL Function#4=check_CombatBuffs
PAL Function#5=check_Nukes
PAL Function#6=check_Buffs

[RNG Functions]
RNG Function#1=check_Burns
RNG Function#2=check_CombatBuffs
RNG Function#3=check_Heals
RNG Function#4=check_DoTs
RNG Function#5=check_Nukes
RNG Function#6=check_Buffs

[ROG Functions]
ROG Function#1=check_Burns
ROG Function#2=check_CombatBuffs
ROG Function#3=check_Buffs

[SHM Functions]
SHM Function#1=check_Debuffs
SHM Function#2=check_Burns
SHM Function#3=check_Heals
SHM Function#4=check_CombatBuffs
SHM Function#5=check_DoTs
SHM Function#6=check_petHeal
SHM Function#7=check_Rain
SHM Function#8=check_Nukes
SHM Function#9=check_Buffs
SHM Function#10=check_Pets
SHM Function#11=check_Canni

[WAR Functions]
WAR Function#1=check_Burns
WAR Function#2=check_CombatBuffs
WAR Function#3=check_Buffs

[WIZ Functions]
WIZ Function#1=check_Burns
WIZ Function#2=check_CombatBuffs
WIZ Function#3=check_Rain
WIZ Function#4=check_Nukes
WIZ Function#5=check_Harvest
WIZ Function#6=check_Buffs

[SHD Functions]
SHD Function#1=check_Burns
SHD Function#2=check_lifeTap
SHD Function#3=check_Debuffs
SHD Function#4=check_CombatBuffs
SHD Function#5=check_DoTs
SHD Function#6=check_Nukes
SHD Function#7=check_Buffs
SHD Function#8=check_Pets
