[Skeleton]
BRD=
BST=
BER=
CLR=
DRU=
ENC=
MAG=
MNK=
NEC=
PAL=
RNG=
ROG=
SHD=
SHM=
WAR=NEVER
WIZ=

[TimeTherisThule]
BRD=
BST=
BER=
CLR=
DRU=
ENC=
MAG=173, -171
MNK=
NEC=173, -171
PAL=
RNG=
ROG=
SHD=
SHM=
WAR=NEVER
WIZ=173, -171
