[EQTitan_Normal_1]
GroupMember#0=Warrior1
GroupMember#1=Enchanter1
GroupMember#2=Cleric1
GroupMember#3=Magician1
GroupMember#4=Druid1
GroupMember#5=Shaman1
[EQTitan_Normal_2]
GroupMember#0=Paladin1
GroupMember#1=Bard1
GroupMember#2=Necromancer1
GroupMember#3=Beastlord1
GroupMember#4=Wizard1
GroupMember#5=Cleric2

[EQTitan_tacvi_11]
GroupMember#0=Warrior1
GroupMember#1=Cleric1
GroupMember#2=Cleric2
GroupMember#3=Bard1
GroupMember#4=Shaman1
GroupMember#5=Magician1
[EQTitan_tacvi_12]
GroupMember#0=Enchanter1
GroupMember#1=Druid1
GroupMember#2=Paladin1
GroupMember#3=Necromancer1
GroupMember#4=Beastlord1
GroupMember#5=Wizard1

