[Beastlord]
AD=Abolish Disease
CureDisease=Abolish Disease
Crack=Spiritual Dominion
SD=Spiritual Dominion
SV=Spiritual Vigor

[Cleric]
AC=Ward of Gallantry
AoR=Aura of Reverence
Kazad=Kazad's Mark
Virtue=Virtue
Virt=Virtue
HoV=Hand of Virtue
BoR=Blessing of Reverence
CHeal=Complete Heal
CH=Complete Heal
HoT=Holy Elixir
Heal=Holy Light
QHeal=Supernal Remedy
GroupHeal=Word of Replenishment
GroupHoT=Ethereal Elixir
Temp=Temperance
RGC=Remove Greater Curse
Rez=Reviviscence
Epic=Reviviscence
RC=Radiant Cure
CureCurse=Remove Greater Curse
CurePoison=Antidote
DI=Divine Intervention

[Druid]
FoE=Flight of Eagles
SoE=Spirit of Eagle
SoW=Spirit of Wolf
GSoW=Pack Spirit
DSS=Legacy of Bracken
DS=Kerasha's Sylvan Leggings
BoT9=Blessing of the Nine
Heal=Sylvan Infusion
Regen=Blessing of Replenishment
CoS=Circle of Seasons
PoS=Protection of Seasons
Str=Nature's Might
GroupWolf=Share Form of the Great Wolf
GroupInvis=Foliage Shield
Evac=Succor
RGC=Remove Greater Curse
EB=Everlasting Breath
CureCurse=Remove Greater Curse
CurePoison=Armguard of Piety
GPortNK=Circle of Karana
GPortLavastorm=Circle of Lavastorm
GPortSRo=Circle of Ro
GPortMisty=Circle of Misty
GPortFeerrott=Circle of Feerrott
GPortCommons=Circle of Commons
GPortEK=Succor: East
GPortSureFall=Circle of Surefall Glade
GPortButcher=Circle of Butcher
GPortSteamfont=Circle of Steamfont
GPortSkyfire=Wind of the North
GPortEJ=Wind of the South
GPortDawnshroud=Circle of Dawnshroud
GPortDSP=Circle of Dawnshroud
GPortTwilight=Circle of Twilight
GPortGrimling=Circle of Grimling
GPortNexus=Circle of the Nexus
GPortStonebrunt=Circle of Stonebrunt
GPortTox=Circle of Toxxulia
GPortBarindu=Circle of Barindu
GPortNatimbi=Circle of Natimbi
GPortPoK=Circle of Knowledge
GPortKnowledge=Circle of Knowledge
GPortCS=Circle of Cobalt Scar
GPortWL=Circle of Wakening Lands
GPortGD=Circle of Great Divide
GPortCombines=Circle of the Combines
GPortDreadlands=Circle of the Combines
GPortDL=Circle of the Combines

[Enchanter]
Haste=Vallon's Quickening
VQ=Vallon's Quickening
VoQ=Voice Of Quellious
C5=Voice Of Quellious
KEI=Koadic's Endless Intellect
C4=Koadic's Endless Intellect
GoD=Guard of Druzzil
MR=Guard of Druzzil
GrpMR=Guard of Druzzil
CHA=Radiant Visage
Tranq=Silken Augmenter's Pantaloons
Frog=Radiant Visage

[Magician]
DS1=Maelstrom of Ro
DS=Flameshield of Ro
CoH=Call of the Hero
Invis=Invisibility

[Necromancer]
DMF=Dead Men Floating
IVU=Invisibility versus Undead
SummonCorpse=Conjure Corpse
Sac=Sacrifice
Bind=Bind Affinity

[Paladin]
BSS=Brell's Stalwart Shield
RGC=Remove Greater Curse
Cure=Crusader's Touch
CureCurse=Remove Greater Curse
CureDisease=Crusader's Touch
CurePoison=Crusader's Touch
Rez=Resurrection
Res=Resurrection

[Ranger]
SoTP=Spirit of the Predator
Pred=Spirit of the Predator
SoT=Strength of Tunare
Tunare=Strength of Tunare
Rathe=Call of the Rathe
DS=Call of the Rathe
AC=Call of the Rathe
CoR=Call of the Rathe
SoE=Spirit of Eagle
SoW=Spirit of Wolf
DS=Shield of Spikes
CoS=Circle of Summer
CoW=Circle of Winter

[Shadow Knight]
Voice=Voice of Thule
VoT=Voice of Thule
Thule=Voice of Thule

[Shaman]
HoT=Breath of Trushar
Heal=Daluda's Mending
Fo7=Focus of the Seventh
F07=Focus of the Seventh
Focus=Focus of Soul
Haste=Talisman of Celerity
Billy=Spirit of Bih`li
Bih`li=Spirit of Bih`li
SoB=Spirit of Bih`li
Regen=Blessing of Replenishment
Agi=Talisman of the Wrulan
Dex=Talisman of the Raptor
Sta=Talisman of the Boar
Str=Talisman of the Diaku
Tribunal=Talisman of the Tribunal
ToT=Talisman of the Tribunal
DR=Talisman of the Tribunal
PR=Talisman of the Tribunal
Jag=Spirit of the Jaguar
Shrink=Shrink
Shrew=Pack Shrew
GroupShrink=Tiny Terror
GShrink=Tiny Terror
RGC=Remove Greater Curse
Cha=Unfailing Reverence
DA=Disinfecting Aura
AD=Abolish Disease
CureDisease=Abolish Disease
CurePoison=Disinfecting Aura
EB=Enduring Breath

[Wizard]
Decess=Decession
Evac=Decession
Invis=Invisibility
TL=Teleport
iTL=Translocate
DS=O'Keils Radiation
GPortWK=West Portal
GPortNRo=Ro Portal
GPortCommons=Common Portal
GPortCazic=Cazic Portal
GPortNek=Nek Portal
GPortNektulos=Nek Portal
GPortNK=North Portal
GPortGfay=Fay Portal
GPortEJ=Markar's Relocation
GPortEmerald=Markar's Relocation
GportSkyfire=Tishan's Relocation
GportDL=Combine Portal
GportDreadlands=Combine Portal
GportCombines=Combine Portal
GportDawnshroud=Dawnshroud Portal
GportDSP=Dawnshroud Portal
GportTwilight=Twilight Portal
GportGrimling=Grimling Portal
GportNexus=Nexus Portal
GroupTL=Translocate: Group
GportTx=Tox Portal
GportBarindu=Barindu Portal
GportNatimbi=Natimbi Portal
GportPoK=Knowledge Portal
GportKnowledge=Knowledge Portal
GPortSky=Alter Plane: Sky
GPortHate=Alter Plane: Hate
GPortCS=Cobalt Scar Portal
GPortWL=Wakening Lands Portal
GPortGD=Great Divide Portal
GPortIceclade=Iceclad Portal
TLDawnshroud=Translocate: Dawnshroud
TLCazic=Translocate: Cazic
TLNRo=Translocate: Ro
TLWC=Translocate: West
TLNek=Translocate: Nek
TLCommon=Translocate: Common
TLFay=Translocate: Fay
TLCombine=Translocate: Combine
TLTwilight=Translocate: Twilight
TLGrimling=Translocate: Grimling
TLNexus=Translocate: Nexus
TLGroup=Translocate
TLTox=Translocate: Tox
TLNatimbi=Translocate: Natimbi
TLBarindu=Translocate: Barindu
TLPoK=Translocate: Knowledge
TLCS=Translocate: Cobalt Scar
TLWL=Translocate: Wakening Lands
TLGD=Translocate: Great Divide
TLIceclad=Translocate: Iceclad
