[Cleric]
Buff#1=Kazad's Mark
Buff#2=Focus of the Seventh
Buff#3=Guard of Druzzil
Buff#4=Spiritual Dominion
Buff#5=Aura of Reverence
Buff#6=Voice of Quellious
Buff#7=Brell's Stalwart Shield
Buff#8=Blessing of the Nine

[Warrior]
Buff#1=Virtue
Buff#2=Focus of the Seventh
Buff#3=Guard of Druzzil
Buff#4=Vallon's Quickening
Buff#5=Spirit of the Predator
Buff#6=Call of the Rathe
Buff#7=Brell's Stalwart Shield
